<div class="app-container">
  <mat-sidenav-container style="height: 100vh">
    <mat-sidenav mode="side" opened>
      <div class="sidenav-content">
        <div class="sidenav-bouton-open">
          <button mat-flat-button>
            <mat-icon>menu</mat-icon>
          </button>
        </div>

        <div class="sidenav-bouton">
          <a routerLink="/home-page">
            <mat-icon>home</mat-icon>
          </a>
        </div>
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <div>
        <app-header></app-header>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
