.connexion-main {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  place-content: center;
  align-items: center;
  margin-top: 10%;

  & .form-content {
    flex-direction: column;
    display: inline-flex;
    width: 300px;

    & button {
      margin: 0 auto;
      align-items: center;
      display: flex;
    }
  }
}
